/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;800&family=Gentium+Book+Basic&display=swap");

@media screen {
  .markdown-preview {
    padding: 2em calc(50% - 450px + 8em) !important;
  }
}

.markdown-preview.markdown-preview {
  --accent-color: #0879d6;
  --accent-color: #495057;
  --accent-color: #ec005b;
  --main-color: #222;
  --mark-color: #999;

  background-color: #eee;
  color: var(--main-color);
  font-family: system-ui;
  font-family: "Gentium Book Basic", serif;
  font-size: 18px;
  line-height: 175%;

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  *::before,
  *::after {
    color: var(--mark-color);
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 80%;
  }

  a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: underline;
  }

  // a::before {
  //   content: "\202f";
  // }
  // a::after {
  //   content: "\202f";
  // }

  strong::before {
    content: "**\202f";
  }
  strong::after {
    content: "\202f**";
  }

  em::before {
    content: "*\202f";
  }
  em::after {
    content: "\202f*";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Eczar", serif;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;
    letter-spacing: 0.02em;
  }

  h1 {
    font-size: 200%;
    counter-reset: section;
  }
  h2 {
    font-size: 175%;
    counter-increment: section;
    counter-reset: subsection;
    margin-bottom: 0.5em;
  }
  h3 {
    font-size: 100%;
    counter-increment: subsection;
  }
  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  h1::before,
  h2::before,
  h3::before,
  h4::before {
    display: inline-block;
    width: 60px;
    margin-left: -70px;
    margin-right: 10px;
    text-align: right;
    color: #ccc;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
  }

  h1::before {
    content: "TITLE";
  }
  h2::before {
    content: "§" counter(section);
  }
  h3::before {
    content: "§" counter(section) "." counter(subsection);
  }

  blockquote {
    margin-left: -12px;
    border-left: 2px solid var(--accent-color);
    padding-left: 10px;
  }

  hr {
    margin: 1em;
    background: none;
    border-bottom: 2px solid #ccc;
  }

  ul {
    padding-left: 2em;
    list-style: none;
    li:not(.task-list-item)::before {
      display: inline-block;
      width: 60px;
      margin-left: -70px;
      margin-right: 10px;
      text-align: right;
      content: "\2022";
      font-weight: bold;
      color: var(--accent-color);
    }
  }

  *:not(li) > ul {
    padding: 0px;
  }

  dt {
    counter-reset: definition;
  }
  dd {
    counter-increment: definition;
  }
  dd::before {
    content: counter(definition) ". ";
  }
}
